
*{ 
    box-sizing: border-box;

}
body {
background-color: lightblue;

}
hr{
    border: 1px solid black;
    border-width: 3px  ;
}
h1{
    font-family: Verdana;
    color: white;
    text-align: center;
    /* background-color: tomato; */
    background-color: rgba(255, 80, 85, 0.5); 
/* /* this is a use of rgb/* */
}
P{
    font-family: verdana;
    text-align: center;
    color: black;
    /* background-color: #f5f;
    border-top-style: dotted;
    border-right-style: outset;
    border-bottom-style: double;
    border-left-style: initial; */
    

}
.dotted{
    border-style: dotted;
    border-color: red;
    
}
.dashed{
    border-style: dashed;
    border-color: blue  ;
    border-width: 5px 20px;
}
.solid1{
    border-style: solid;
    background-color: antiquewhite;
    border-width: 20px 5px;
}
.solid2{
    border-style: solid;
    background-color: antiquewhite;
    border-width: 25px 10px 4px 35px;  /*25px top, 10px right, 4px bottom and 35px left*/
}
.double{
    border-style: double;
    background-color: darkgreen;
    
}
.groove{
    border-style: groove;
    background-color: royalblue;
}
.ridge{
    border-style: ridge;
    background-color: blue;
}
.inset{
    border-style: inset;
    background-color: yellow;
}
.outset{
    border-style: outset;
    background-color: cornflowerblue;
    border-color: red green blue yellow; /* red top, green right, blue bottom and yellow left */
}
.none{
    border-style: none;
    background-color: aquamarine;
    border-radius: 5px;
    

}
.hidden{
    border-style: hidden;
    background-color: azure;
    border-radius: 10px;
    
}
.border{
    border-bottom: 5px solid black;
}
.margin {
    margin-top: 25px;
    margin-right: 50px;
    margin-bottom: 75px;
    margin-left: 100px;
    border: 2px dotted red;
    

}
h3{
    margin: 50px;
}
h4{
    margin: 20px;
}

.padding{

    border: 1px solid black;
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
   
}
.padding{
    width: 100%;
    height: 50px;
    margin: 10px;
}

.max-width {
    border: 1px solid black;

    max-width: 500px;
    height: 100px;
}

   
img{
    width: 100%;
    height: 100%;    
}

    
/* unvisited link */
a:link {
    color: red;
  }
  
  /* visited link */
  a:visited {
    color: green;
  }
  
  /* mouse over link */
  a:hover {
    color: hotpink;
    font-size: 25px;
   
  }
  
  /* selected link */
  a:active {
    color: blue;
  }

  .hoverdiv{
    background-color: green;
    color: white;
    padding: 25px;
    text-align: center;
    
  }
.hoverdiv:hover{
    background-color: blue;
}

.paragraph{
    display: none;
    background-color: yellow;
    padding: 25px;
}

 /* .hover p:hover{
    background-color: ;
    padding: 10px;   
} */
.firstchild   p:first-child{
    color: aqua;
    font-size: large;
}
.firstchild + p {
    color: brown;
    
}

.firstline p::first-line{
    color : blue;
    font-variant: small-caps;
}
.firstletter p::first-letter{
    color : red;
    /* font-size:xx-large; */
    font-size: 200%;
    
}

.multiplePseudo p::first-letter{
    color: red;
    font-size: xx-large;
}
.multiplePseudo p::first-line{
    color: blue;
}

h6::after{
content: url();

}

::marker{
    color: red;
    font-size: 30px;
}

.selection p::selection{
    color: yellow;
}

.selector a[target] {
    background-color: yellow;
}

.cssboxmodels{
    background-color: lightgray;
    max-width: 100%;
    border: 2px solid green;
    padding: 50px;
    margin: 20px;

}
.cssoutline{
    border: 2px solid black;
    outline: 10px solid green;

}

.offset p{
    border: 1px solid black;
    outline: 1px solid red;
    outline-offset: 15px;
    margin: 30px;
    background-color: yellow;
    text-decoration-style: wavy ;
    text-transform: uppercase;
    text-shadow: 2px 2px 5px red;
    font-family: verdana, sans-serif; /*combination of sans-serif and verdana font monbination  and also georgia, serif*/
}

.cssfont .serif{
    font-family: serif;
}
.cssfont .sans-serif{
    font-family: sans-serif;
}

.cssfont .monospace{
    font-family: monospace;
}
.cssfont .cursive{
    font-family: cursive;
}
.cssfont .fantacy{
    font-family: fantacy;
} 

section a{
color: white;

}
    
table {
    
    width: 100%;
    border-collapse: collapse;
    /* text-align: center;
    /* text-align: right;
    vertical-align: bottom; */ 

}
th, td {
    
    border: 2px solid red;
    padding: 15px ;
    
    
}
th{
    height: 70px;
    text-align: center;
    background-color: aquamarine;
   
}
tr:nth-child(odd){
    background-color: darkgray;
}

tr:hover{
    background-color: black;
    color: white;
}

.table2:nth-child(odd){
    border-collapse: collapse;
    width: 100%;

}
.width{
    width: 500px;
    margin: auto;
    border: 3px solid green;
}
.max-width{
    max-width: 500px;
    margin: auto;
    border: 3px solid green;
   
}

.clearfix{
    width: 33.33%;
    float: left;
    padding: 50px;
    
}
.img-container{
    float: left;
    width: 33.33%;
    padding: 5px;
    
}

.clearfix::after{
    content: "";
    clear: both;
    display: table;
}



